$color-black50: #00000080;
$color-cod-gray: #060606;
$color-shark: #242526;
$color-dusty-gray: #979797;
$color-flamingo: #f14848;
$color-spring-rain: #a6c5b5;
$color-athens-gray: #ebecf0;
$color-white: #FFFFFF;
